# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.python-version
pyproject.toml
uv.lock
README.md